*html {
    line-height: 1.6;
    color: #666;
    background: #F6aF6;
  }
  
  #myHeader{
    text-align: right;
    padding-right: 10%;
  }

  #search {
    height: 300px;
    background-color: orange;
  }
  
  h1 {
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
  }
  
  h2 {
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: orange;
  }

  h3 {
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: 1.0rem;
    color: white;
  }

  img {
    display: block;
    margin: 1rem auto;
    max-width: 200px;
    max-height: 300px;
  }
  
  p {
    padding: 0 2.5rem 2.5rem;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    background: #aaeeaf;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
  }
  
  .sticky {
    padding-right: 10%;
    position: fixed;
    top: 0;
    width: 100%
  }

  .card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }
  

.header {
  padding:0;
  margin:0;
  width:400px;
  float:right;
}

.header ul {
 padding:0;
 margin:0;
 list-style:none;
 border:0;
 float:right;
}

.header ul li {
 float:right;
 margin:0;
 padding:0;
 border:0;
}

.header ul li a {
 float:right;
 margin:0;
 padding:13px 10px;
 text-decoration:none;
 display: block;
   padding: 10px;
}
a:visited {
 color: white;
}

.form #logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-bottom: 2px;
}

.form {
  text-align: center;
}

#form-search { 
  width: 450px;
  line-height: 32px;
}

.form #form-search {
  padding: 0 8px;
}

/*#form-search:hover {
  border-color: #e4e4e4;
  padding-top: 0;
}*/

.buttons {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 300px;
}


  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }
  
 